body{
font-family: 'Lora', serif;
overflow:-x hidden;



}
#playerone{
  border-width:thin;
  border-style: solid;
  border-color: black
  font-family: 'Lora', serif;
  overflow-x: hidden;



}
#playertwo{
  border-width:thin;
  border-style: solid;
  border-color: black
  font-family: 'Lora', serif;

}
img{
  height:450px;
  width:450px;
}
#addCurrentScore{
  float:right;
  font-family: 'Lora', serif;
}
.scores{
  border-color: red;
  border-width: thin;
  border-style: solid;
  height: 25px;

  padding-left: 15px;
  padding-bottom:15px;
  margin-left: 15px;
  padding-right: 15px;
  font-family: 'Rubik', sans-serif;
}
.scores2{
  border-color: red;
  border-width: thin;
  border-style: solid;
  height: 25px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  font-family: 'Lora', serif;

}
.scores1{
  border-color: red;
  border-width: thin;
  border-style: solid;
  height: 35px;

  padding-left: 15px;
  padding-right: 15px;



  margin-left: 15px;
  font-family: 'Lora', serif;

}
.labeloverall{
  margin-right: 20px;
}

.rules{
  display:none;
  font-family: 'Lora', serif;
}
#add2{

}
#alert{
  display: none;
  color:#7b0e8c;
  margin-left: 500px;
  margin-right: 250px;
  font-family: 'Lora', serif;
}
.heading{
  font-family: 'Lora', serif;
}
#newgame{
  font-size:175%;
  margin-left:560px;
  margin-right:300px;
  font-family: 'Lora', serif;
}
#rule{

  border-width: thin;
  width: 70px;
  margin-left:   600px;
  margin-right: 250px;
  font-family: 'Lora', serif;
  background-color:#efedef;
}

#remove{
  border-color: red;
  border-width: thin;
  border-style: solid;
}
#remove2{
  border-color: red;
  border-width: thin;
  border-style: solid;
  margin-left: 20px;
}
.explanation{
  text-align: center;
  margin-left: 25px;
}
/* Backward */
.hvr-backward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-backward:hover, .hvr-backward:focus, .hvr-backward:active {
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);
}
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}
@media screen and (max-width: 768px) {
#newgame{
  margin-left: 200px;
  margin-right: 200px
}
#alert{
  margin-left: 200px;
  margin-right:200px;
}
#rule{
  margin-left: 200px;
  margin-right: 200px
}


}
