body{
font-family: 'Lora', serif;
overflow:-x hidden;
  background-color: #efedef;;




}
.card{
  background-color: inherit;
}
.overall{
  background-color: #f5f4f9;
}
#playerone{
  border-width:thin;
  border-style: solid;
  border-color: black
  font-family: 'Lora', serif;
  overflow-x: hidden;



}
#playertwo{
  border-width:thin;
  border-style: solid;
  border-color: black
  font-family: 'Lora', serif;

}
img{
  height:450px;
  width:450px;
}
#addCurrentScore{
  float:right;
  font-family: 'Lora', serif;
}
.scores{
  border-color: red;
  border-width: thin;
  border-style: solid;
  height: 25px;

  padding-left: 15px;
  padding-bottom:15px;
  margin-left: 15px;
  padding-right: 15px;
  font-family: 'Rubik', sans-serif;
}
.scores2{
  border-color: red;
  border-width: thin;
  border-style: solid;
  height: 25px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  font-family: 'Lora', serif;

}
.forms{
  height:301px;
}
.scores1{
  border-color: red;
  border-width: thin;
  border-style: solid;
  height: 35px;

  padding-left: 15px;
  padding-right: 15px;



  margin-left: 15px;
  font-family: 'Lora', serif;

}
.labeloverall{
  margin-right: 20px;
}

.rules{
  display:none;
  font-family: 'Lora', serif;
}
.alert{
  display: flex;
  justify-content: center;
}
#alert{
  display: none;
  color:#7b0e8c;

  font-family: 'Lora', serif;
}
.heading{
  font-family: 'Lora', serif;
}
#newgame{
  text-align: center;
  font-size:175%;
  margin-top: 15px;
  width:200px;
  background-color: #efedef;
  font-family: 'Lora', serif;
}
.newgame{
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
}
.rule{
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  background-color: #efedef;
}
#rule{

  border-width: thin;
  width: 80px;

  font-family: 'Lora', serif;
  background-color:#efedef;
}
.rules{
  background-color: inherit;
}
.win{
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}
#win{
  display: none;
  color:#7b0e8c;
  margin-bottom: 35px;
}

#remove{
  border-color: red;
  border-width: thin;
  border-style: solid;
}
#remove2{
  border-color: red;
  border-width: thin;
  border-style: solid;
  margin-left: 20px;
}
.explanation{
  text-align: center;
  margin-left: 25px;
}
/* Backward */
.hvr-backward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-backward:hover, .hvr-backward:focus, .hvr-backward:active {
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);
}
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}
@-webkit-keyframes hvr-icon-pulse-grow {
  to {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}
@keyframes hvr-icon-pulse-grow {
  to {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}
.hvr-icon-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-icon-pulse-grow .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-pulse-grow:hover .hvr-icon, .hvr-icon-pulse-grow:focus .hvr-icon, .hvr-icon-pulse-grow:active .hvr-icon {
  -webkit-animation-name: hvr-icon-pulse-grow;
  animation-name: hvr-icon-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
.hvr-round-corners {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: border-radius;
  transition-property: border-radius;
}
.hvr-round-corners:hover, .hvr-round-corners:focus, .hvr-round-corners:active {
  border-radius: 1em;
}

@media screen and (max-width: 768px) {
  body{
    overflow: scroll;
    overflow-x: hidden;
  }
#newgame{
  margin-left: 200px;
  margin-right: 200px
}

.alert{
  display: flex;
  justify-content: center;
}
#alert{

  color:#7b0e8c;
  font-size: 110%;
  font-family: 'Lora', serif;
}
#rule{
  margin-left: 200px;
  margin-right: 200px
}


}
